body {
    background-color:beige;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    
}
a {
    color: black;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: rebeccapurple;
}

#navbar ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color:burlywood;
    padding: 10px;
    z-index: 100;
}
#navbar ul li{
    float: left;
    margin-right: 20px;
}

#navbar ul li a{
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    text-align: center;
    margin-top: 50px;
}

#navbar ul li a:hover {
    background-color: rebeccapurple;
    color: white;
    border-radius: 100%;
}

#navbar p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
    position: relative;
    border: 8px solid white;
    z-index: 1000;
}

#navbar h1{
    margin: 10%;   
    font-size: xx-large;
    font-weight: bold;
}

#navbar h2{
    font-style: italic;
    font-weight: bold;
    z-index: 1000;
    border-radius: 10px;
}

#navbar h3{
    font-size: large;
    font-weight: bold;
}

footer {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

#container {
    font-family:'Courier New', Courier, monospace;
}

#textos {
    margin: 10%;
    border: 10px solid bisque;
    border-radius: 2em;
}

#textos header{
    margin: 10px;
    border: 10px solid bisque;
    background-color: bisque;
    border-radius: 1em;
    margin: auto 2%;
}
#textos section p{
    background-color: lightgray;
    border: 10px  whitesmoke;
    padding: 10px 20px;
    border-radius: 1em;
    margin: auto 2%;

}


#imagen img {
    height: 500px;
    width: 500PX;
    margin: auto 10%;
}

