img {
    border: 2px solid black;
    max-width: 100px;
    height: 100px ;
    object-fit: cover;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}

body {
    background-color: lightslategray;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

#productos > div{
    padding: 10px;
    background-color: cornsilk;
    border: 1px solid bisque;
    max-width: 200px;
    border-radius: 5px;
}

#productos div div button{
    display: block;
    padding-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    color: darkblue;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}

#productos div div {
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5px;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
} 