body {
    background-color:lightslategray;
    color: rgb(6, 28, 46);
    font-family: Arial, sans-serif;
    
    
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rebeccapurple;
}

main p{
    text-align: center;
    margin: 10px;

}

h2{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: end;
}

#container {
    font-family:'Courier New', Courier, monospace;
}

#textos {
    margin: 10%;
    border-radius: 2em;
    
}

#textos p {
    background-color: lightgray;
    border: 2px solid whitesmoke;
    padding: 20px;
    border-radius: 1em;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    display: block;
    margin: 20px auto;
}

section {
    margin: 3%;
}
